.btn-block{
    background:grey;
}

button{
    width: 60px;
    height: 30px;
    background-color: yellow;
}
.blue_some{
    background-color: blue;
}

/* добавил класс динамически и св-во прменилось */
.red{
    background-color:red; 
}
.green{
    background-color:green;
}
.box{
    height: 350px;
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    background:#eeeeee;
    overflow: scroll;
    box-sizing: border-box;
}
.btn-next{
    display: block;
    height: 40px;
    width: 100px;
    margin: 0 auto; 
    margin-top: 20px;
    background-color:#eeeeee;
}